{% load static %}
<html>
    <head>
        <script type="text/javascript">
	    document.addEventListener("DOMContentLoaded", function(event) {
	        let fileUploadBtn = document.getElementById("fileUploadBtn");
		fileUploadBtn.onclick = addUpload;

		let batchesTable = document.getElementById("currentBatches");
		fetch("/getuploads/", {
			"body": JSON.stringify({"username": "{{username}}"}),
            		"method": "POST"
                 })
                 .then(getResponseBody)
                 .then(function(response) {
		     alert(response.uploads);
		     console.log(response.uploads);
		     let table = document.getElementById("currentBatches"); // document.createElement("table");
		     for(const uploadInfo of response.uploads) {
		         let row = document.createElement("tr"); 
		         let idCol = document.createElement("td");
		         idCol.innerHTML = uploadInfo["uploadid"];
		         idCol.style.display = "none";
		         let nameCol = document.createElement("td");
		         nameCol.innerHTML = uploadInfo["uploadname"];
		         nameCol.onclick = selectRow;

		         row.appendChild(idCol);
		         row.appendChild(nameCol);

		         table.appendChild(row);
		     }
                });

            });

            function makeTestCreationCenterVisible() {
                let testCreationCenter = document.getElementById("quickTestCreationCenter");
                testCreationCenter.visibility = "visible";
            }

            function getResponseBody(response) {
                if(response.status >= 200 && response.status < 300) {
	            return Promise.resolve(response.json());
                }
                else {
	            alert("error in response");
	            return Promise.reject(new Error(response.statusText));
                }
            }

            function selectRow() {
		alert(JSON.stringify(this));
                alert("clicked row");
            }

            // TODO: Make post request to add uploaded data and update selection of user files
            function addUpload() {
                alert("Now sending file data to backend");

		const fileUploadInput = document.getElementById("fileUploadInput");
		alert(fileUploadInput.value);

                let reader = new FileReader();
                reader.onload = function() {
                    let arrayBuffer = this.result;
                    let array = new Uint8Array(arrayBuffer);
                    const binaryString = String.fromCharCode.apply(null, array);
		    alert("binary data");
                    alert(binaryString);

                    //makeTestCreationCenterVisible();

                    fetch("/addupload/", {
			"body": JSON.stringify({"selectedFile": fileUploadInput.value, "fileData": binaryString, "username": "{{username}}"}),
            		"method": "POST"
    		    })
                    .then(getResponseBody)
                    .then(function(response) {
	                const addSuccessful = response.successful;
	                console.log(addSuccessful);
                        if(addSuccessful) {
                            alert("add successful");
			    alert(response.uploads);
			    console.log(response.uploads);
			    let table = document.getElementById("currentBatches"); // document.createElement("table");
			    for(const uploadInfo of response.uploads) {
		                let row = document.createElement("tr"); 
				let idCol = document.createElement("td");
				idCol.innerHTML = uploadInfo["uploadid"];
				idCol.style.display = "none";
				let nameCol = document.createElement("td");
				nameCol.innerHTML = uploadInfo["uploadname"];
				nameCol.onclick = selectRow;

				row.appendChild(idCol);
				row.appendChild(nameCol);

				table.appendChild(row);
		            }
                        }
                        else {
                            alert("add not successfull");
                        }
                    });
                }

                reader.readAsArrayBuffer(fileUploadInput.files[0]);
		return true;
            }
	</script>
	<link rel="stylesheet" href="{% static 'css/upload.css' %}">
    </head>
    <body id="body">
	<title id="pageTitle">{{username}} GradeIt Page</title>
	<h1 id="mainPageMessage">Welcome to GradeIt, {{username}}</h1>
	<ul id="batches">
	    <li>Batch 1</li>
	    <li>Batch 2</li>
	</ul>
	<table id="currentBatches">
	    <tr><td>TBA</td></tr>
	</table>
	<center id="batchRetrievalCenter">
	   <label>Current Batch:</label>
	   <label id="selectedBatch">None Selected</label><br>
           <input type="hidden" id="fileDataUpload" name="fileData"></input>
	   <input type="file" id="fileUploadInput" name="selectedFile"></input><br>
           <button id="fileUploadBtn">Upload Files</button>
	   <button id="setUploadFormat">Set Upload Format</button>
	</center>
	<center id="quickTestCreationCenter">
	    <p>The quick test creator will go here</p>
	    <div>
	       I would like to check that <select id="itemTypeSelect"></select>, <select id="itemNameSelect"></select> returns a <select id="returnTypeSelect"></select> of <select id="returnValueSelect"></select>.
	    </div>
	</center>
	<center id="customTestCreationCenter">
	    <p>The custom test creator will go here</p>
	</center>
    </body>
</html>
